.notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #232723;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    max-width: 300px;
    word-wrap: break-word;
    font-size: 0.8em;
    z-index: 9999;
  }
  
  .notification-container.show {
    transform: translateY(0);
    opacity: 1;
  }
  